exports json/NodeRed_251216.json
[
    {
        "id": "6498b53637ef6fca",
        "type": "tab",
        "label": "Garagepoort",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c04c83004cfb7522",
        "type": "mqtt in",
        "z": "6498b53637ef6fca",
        "name": "Garage MQTT In",
        "topic": "#",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "7354b3efc66e0aae",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 200,
        "wires": [
            [
                "5d4370c5270fffc2",
                "0068e2ffedbafe56"
            ]
        ]
    },
    {
        "id": "5d4370c5270fffc2",
        "type": "switch",
        "z": "6498b53637ef6fca",
        "name": "Split Garage Topics",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "garagepoort/knop",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "garagepoort/status",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "garagepoort/voortgang",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "garage/vochtigheid",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "garage/temperatuur",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "14895ef361d18080"
            ],
            [
                "11786b438c0cf6c6"
            ],
            [
                "f216fbceb55d3668"
            ],
            [
                "ccc0149b9c15e732"
            ],
            [
                "273f5a90bce23abf"
            ]
        ]
    },
    {
        "id": "f4928d1c550edbf2",
        "type": "influxdb out",
        "z": "6498b53637ef6fca",
        "influxdb": "85a788269a0447b4",
        "name": "garagepoort status",
        "measurement": "garage_status",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "garage_iot",
        "bucket": "garage_data",
        "x": 870,
        "y": 320,
        "wires": []
    },
    {
        "id": "02efeae8b49c282f",
        "type": "influxdb out",
        "z": "6498b53637ef6fca",
        "influxdb": "85a788269a0447b4",
        "name": "garagepoort voortgang",
        "measurement": "garage_voortgang",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "garage_iot",
        "bucket": "garage_data",
        "x": 880,
        "y": 440,
        "wires": []
    },
    {
        "id": "95bd7fc0b41047c9",
        "type": "influxdb out",
        "z": "6498b53637ef6fca",
        "influxdb": "85a788269a0447b4",
        "name": "garagepoort knop",
        "measurement": "garage_knop",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "garage_iot",
        "bucket": "garage_data",
        "x": 870,
        "y": 200,
        "wires": []
    },
    {
        "id": "5a5f13a2d64a7592",
        "type": "influxdb out",
        "z": "6498b53637ef6fca",
        "influxdb": "85a788269a0447b4",
        "name": "garage temperatuur",
        "measurement": "garage_temperatuur",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "garage_iot",
        "bucket": "garage_data",
        "x": 870,
        "y": 560,
        "wires": []
    },
    {
        "id": "be59e65d1abd8f11",
        "type": "influxdb out",
        "z": "6498b53637ef6fca",
        "influxdb": "85a788269a0447b4",
        "name": "garage vochtigheid",
        "measurement": "garage_vochtigheid",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "garage_iot",
        "bucket": "garage_data",
        "x": 870,
        "y": 680,
        "wires": []
    },
    {
        "id": "8caadf32c0358264",
        "type": "debug",
        "z": "6498b53637ef6fca",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 380,
        "wires": []
    },
    {
        "id": "6abe106f1b8b61d2",
        "type": "debug",
        "z": "6498b53637ef6fca",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 500,
        "wires": []
    },
    {
        "id": "58b47fd93e0d1161",
        "type": "debug",
        "z": "6498b53637ef6fca",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 260,
        "wires": []
    },
    {
        "id": "1bf91b4ea3fb06e8",
        "type": "debug",
        "z": "6498b53637ef6fca",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 620,
        "wires": []
    },
    {
        "id": "3da99d77aee6c9a3",
        "type": "debug",
        "z": "6498b53637ef6fca",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 740,
        "wires": []
    },
    {
        "id": "0068e2ffedbafe56",
        "type": "debug",
        "z": "6498b53637ef6fca",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 340,
        "wires": []
    },
    {
        "id": "14895ef361d18080",
        "type": "change",
        "z": "6498b53637ef6fca",
        "name": "knopstatus",
        "rules": [
            {
                "t": "set",
                "p": "measurement",
                "pt": "msg",
                "to": "garage_knop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 200,
        "wires": [
            [
                "58b47fd93e0d1161",
                "95bd7fc0b41047c9"
            ]
        ]
    },
    {
        "id": "11786b438c0cf6c6",
        "type": "change",
        "z": "6498b53637ef6fca",
        "name": "poortstatus",
        "rules": [
            {
                "t": "set",
                "p": "measurement",
                "pt": "msg",
                "to": "garage_status",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 320,
        "wires": [
            [
                "f4928d1c550edbf2",
                "8caadf32c0358264"
            ]
        ]
    },
    {
        "id": "f216fbceb55d3668",
        "type": "change",
        "z": "6498b53637ef6fca",
        "name": "poortvoortgang",
        "rules": [
            {
                "t": "set",
                "p": "measurement",
                "pt": "msg",
                "to": "garage_voortgang",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 440,
        "wires": [
            [
                "02efeae8b49c282f",
                "6abe106f1b8b61d2"
            ]
        ]
    },
    {
        "id": "ccc0149b9c15e732",
        "type": "change",
        "z": "6498b53637ef6fca",
        "name": "temperatuur",
        "rules": [
            {
                "t": "set",
                "p": "measurement",
                "pt": "msg",
                "to": "garage_temperatuur",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 560,
        "wires": [
            [
                "5a5f13a2d64a7592",
                "1bf91b4ea3fb06e8"
            ]
        ]
    },
    {
        "id": "273f5a90bce23abf",
        "type": "change",
        "z": "6498b53637ef6fca",
        "name": "vochtigheid",
        "rules": [
            {
                "t": "set",
                "p": "measurement",
                "pt": "msg",
                "to": "garage_vochtigheid",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 680,
        "wires": [
            [
                "be59e65d1abd8f11",
                "3da99d77aee6c9a3"
            ]
        ]
    },
    {
        "id": "7354b3efc66e0aae",
        "type": "mqtt-broker",
        "name": "mqtt garagepoort",
        "broker": "http://10.150.242.103",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "85a788269a0447b4",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    }
]